body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#474949, #303332);
  color: #71eed1;
  min-height: 100vh;
}


#header{
  text-align: center;
  margin: auto;
  font-size: 50px;
}


#calc{
  margin: auto;
  max-width: fit-content;
  background-color: rgb(101, 106, 110);
  max-width: 475px;

}


#result-number{
  margin: auto;
  background-color: rgb(131, 129, 127);
  height: 100px;
  width: 100%; 
  max-width: 475px;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


#button-char{
  background-color: #426154;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-size: 3rem;

}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 10px;
}

#tax{
  display: grid;
  background-color: #459976;
  width: 100px;
  height: 50px;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-size: 2rem;

}

.C{
  background-color: #459976;
  width: 200px;
  height: 50px;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-size: 2rem;
}

.top-buttons{
  background-color: rgb(101, 106, 110);
  display: flex;
  max-width: 425px;
  margin: auto;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  gap: 10px;
  margin-bottom: -10px;
  padding: 25px;

}



