body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#474949, #303332);
  color: #cbebdb;
  min-height: 100vh;
}


#header{
  text-align: center;
  margin: auto;
  font-size: 50px;
}


#calc{
  margin: auto;
  max-width: fit-content;
  background-color: rgb(101, 106, 110);
  max-width: 475px;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;

}


#result-number{
  margin: auto;
  height: 100px;
  background-color: rgb(101, 106, 110);
  width: 100%; 
  max-width: 475px;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


#button-char{
  background-color: #7ea193;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-size: 3rem;

}


.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 10px;
}


#tax{
  display: grid;
  background-color: #459976;
  width: 100px;
  height: 65px;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-size: 1.5rem;

}


.C{
  background-color: #459976;
  width: 200px;
  height: 65px;
  margin: auto;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-size: 2rem;
}


.top-buttons{
  background-color: rgb(101, 106, 110);
  display: flex;
  max-width: 425px;
  margin: auto;
  text-align: center;
  align-content: center;
  gap: 10px;
  margin-bottom: -30px;
  padding: 25px;
}



